<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.provider.jms.weblogic.ui.actionSet"
            label="Communications - Weblogic"
            visible="false">
         <action
               class="org.eclipse.ecf.internal.provider.jms.weblogic.ui.wizard.JoinGroupWizardAction"
               icon="icons/collaboration.gif"
               id="org.eclipse.ecf.provider.jms.weblogic.action2"
               label="Connect Workspace to JMS (Weblogic) Group..."
               style="push"
               toolbarPath="org.eclipse.ecf.ui.collaboration"
               tooltip="Connect Workspace to JMS (Weblogic) Group">
         </action>
      </actionSet>
   </extension>


</plugin>
